
PhysioProject2/.vs/PhysioProject2/v15/Server/sqlite3/db.lock
*.lock
*.ide-shm
*.ide-wal
*.cache
*.cache
*.cache
*.lref
PhysioProject2/.vs/PhysioProject2/v15/.suo
*.ide
*.ide-shm
*.ide-wal
*.ide
PhysioProject2/.vs/PhysioProject2/v15/.suo
PhysioProject2/.vs/PhysioProject2/v15/.suo
